.userlist {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ccddff;
  margin: 20px 0;
}

.userlist-data {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.btn-group {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.btn-group > button {
  padding: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #1f7a1f;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: #33cc33;
}
.delete-btn {
  background-color: #800000;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.delete-btn:hover {
  background-color: #e60000;
}
