* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  max-width: 1250px;
  margin: 0 auto;
}

.form-title {
  margin: 10px auto;
  font-size: 25px;
  font-weight: 500;
}

.open-button {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #4d88ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.add-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #ccddff;
}

.add-form > input {
  padding: 5px;
}

.add-submit {
  padding: 5px;
  cursor: pointer;
  background-color: #4d88ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
}

.add-submit:hover {
  background-color: #6699ff;
}
